@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*  
    CABECERA: 
*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F9FA;
  color: #FFF;
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0 0 12px 0 #00000066;
          box-shadow: 0 0 12px 0 #00000066;
}

header .box_logo img {
  height: 40px;
}

header .box_icon_menu {
  cursor: pointer;
}

header .box_icon_menu .line_icon_menu {
  display: inline-block;
  background-color: #5c5b5b;
  width: 30px;
  height: 2px;
}

header .box_icon_menu .line_icon_menu::before {
  content: '';
  display: inline-block;
  background-color: #5c5b5b;
  width: 30px;
  height: 2px;
}

/*  
    CONTENEDOR PRINCIPAL: 
*/
main {
  /* min-height: 100vh; */
  /* 
        MENU: 
    */
  /* 
        CONTENIDO: 
    */
}

@media (max-width: 999px) {
  main {
    padding: 60px 10px 0;
  }
}

@media (min-width: 1000px) {
  main {
    position: relative;
    left: 230px;
    width: calc(100% - 230px);
    /* min-height: 100vh; */
    padding: 60px 40px 0;
  }
}

main nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
  background-color: #F8F9FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

@media (max-width: 649px) {
  main nav {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  main nav.open_menu {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

main nav ul li {
  list-style: none;
  padding: 6px 0;
}

main nav ul li a {
  text-decoration: none;
  color: #5c5b5b;
  font-size: 1.2rem;
  font-weight: bold;
}

main nav ul li a:hover {
  color: #F64D27;
}

main .div_content .main_content {
  color: #5c5b5b;
}

main .div_content .main_content .box_description h2 {
  font-size: 2.8rem;
  margin-top: 40px;
}

main .div_content .main_content .box_description .line_titles {
  border-top: 5px solid #F64D27;
  width: 170px;
}

main .div_content .main_content .box_description p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 20px 0 60px;
}

main .div_content .main_content .box_description p strong {
  color: #F64D27;
}

main .div_content .main_content .box_description p a {
  text-decoration: none;
  font-weight: 500;
  background-color: #F8F9FA;
  color: #55BD9C;
  border: 1px solid #CCC;
  border-radius: 2px;
  padding: 0 10px;
}

main .div_content .main_content .box_description p a:hover {
  color: #CCC;
}

main .div_content .main_content .sect_content h4 {
  font-size: 2rem;
  margin: 20px 0;
}

main .div_content .main_content .sect_content p {
  font-size: 1.5rem;
  line-height: 1.5;
}

main .div_content .main_content .sect_content p strong {
  color: #F64D27;
}

main .div_content .main_content .sect_content p a {
  text-decoration: none;
  font-weight: 500;
  background-color: #F8F9FA;
  color: #55BD9C;
  border: 1px solid #CCC;
  border-radius: 2px;
  padding: 0 10px;
}

main .div_content .main_content .sect_content p a:hover {
  color: #CCC;
}

main .div_content .main_content .sect_content ol {
  padding: 20px;
}

main .div_content .main_content .sect_content ol li {
  list-style: none;
  font-size: 1.2rem;
  margin-bottom: 12px;
}

main .div_content .main_content .sect_content .box_img {
  text-align: center;
  width: 100%;
}

main .div_content .main_content .sect_content .box_img img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 12px 0 #00000066;
          box-shadow: 0 0 12px 0 #00000066;
}

@media (max-width: 699px) {
  main .div_content .main_content .sect_content .box_img img {
    max-width: 100%;
  }
}

@media (min-width: 700px) {
  main .div_content .main_content .sect_content .box_img img {
    max-height: 400px;
    margin: 40px 0;
  }
}

main .div_content .main_content .line_endsession {
  text-align: center;
  font-size: 1.2rem;
  color: #CCC;
  margin: 60px 0;
}
/*# sourceMappingURL=style.css.map */